<!DOCTYPE html>
<html>

<head>
  <title>Jokes App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>What's so funny about it?</h1>
  <%if(locals.joke){%>
    <div class="card">
      <p>
        <%= joke %>
      </p>
    </div>
  <%} %>
</body>

</html>